.navbar {
    color: #ccc;
    background-color: #333;
    outline: 1px solid;
}


body {
    background : #181818;
   margin:0;
   padding:0;
   height:100%;
}


#footer {
   position:absolute;

   width:100%;
   color: #000;
   background-color: #777;
   border: 0;
}

.btn {

    background: #e3a24b;
    color: #000;
    padding: 4px 0 5px 0;
    margin: 0;
    cursor: pointer;
    border: 0;
    height: 35px;
    width: 20%;
    border-radius: 0px;
    color: #111;
    outline: 1px solid;
    font-weight: bold;

}

.btn:active:focus {
    color: #111;
    outline: 1px solid;
}

.btn:focus {
    outline-offset: 0px;
    padding: 0px 0 0px 0;
    margin: 0;
    cursor: pointer;
    border: 0;
    border-radius: 0px;
    color: #111;
    outline: 1px solid;
}

.btn-primary {
    background: #e3a24b;
    color: #111;
    font-weight: bold;
    font-size: 14px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #e3a24b;
    color: #444;
}

.btn-primary:active, .btn-primary.active {
    background: #e3a24b;
    box-shadow: none;
    color: #111;
    outline: 1px solid;
}

table {
      width: 100%;
      color: #000;
      border-spacing: 3px;
}

th {
      background: #696969;
      padding: 10px;
      color: #111;
      outline: 1px solid;
}

td {
      background: #555;
      padding: 10px;
      color: #000;
      outline: 1px solid;
      outline-color:#111;
}

td.explorer, th.explorer {
      background: #555;
      padding: 10px;
      outline: 0px solid;

}
.brd{
      border: 4px inset black;
      background: #a6a2a2;
      padding: 10px;
}

button.dir{
      background: #7f7f7f;
      color: #181818;
      font-size: 14px;
      font-weight: bold;
      width: 265px;
      height: 65px;
      outline: 5px solid;
}

button.file{
      background: #e3a24b;
      color: #181818;
      font-size: 14px;
      font-weight: bold;
      width: 265px;
      height: 65px;
      outline: 5px solid;
}

button.delete{
      background: #ff9900;
      color: #000;
      font-size: 16px;
      border: 0;
      width: 250px;
      height: 30px;
}

button.list {
      background: gray;
      color: #000;
      font-size: 16px;
      padding: 4px 0 5px 0;
      margin: 0;
      border: 0;
      width: 250px;
      border-radius: 0px;
}


button.btn-small {
      background: #d72929;
      color: #000;
      font-size: 16px;
      padding: 4px 0 5px 0;
      margin: 0;
      cursor: pointer;
      border: 0;
      width: 35px;
      height: 35px;
      border-radius: 0px;
      color: #111;
      outline: 1px solid;
}

button.btn-small2 {
      background: #e3a24b;
      color: #000;
      font-size: 16px;
      padding: 4px 0 5px 0;
      margin: 0;
      cursor: pointer;
      border: 0;
      width: 35px;
      height: 35px;
      border-radius: 0px;
      color: #111;
      outline: 1px solid;
}


button.btn-small2-not {
      background: #653;
      color: #000;
      font-size: 16px;
      padding: 4px 0 5px 0;
      margin: 0;
      cursor: pointer;
      border: 0;
      width: 25px;
      height: 25px;
      border-radius: 0px;
      color: #111;
      outline: 1px solid;
}

button.btn-small2-not:hover {
      background: #e0a040;
}


.well{
      background: #333;
      font-size: 16px;
      margin: 0;
      border: 0;
      border-radius: 0px;
      width:80%;
      color: #CCC;
      outline: 1px solid;
      outline-color:#555;
      padding: 10px 20px 10px 20px;
      margin: auto;
}
