{% extends "trashApp/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div style=" margin: auto; width: 80%;">
            <div class="col-lg-8 ">
                <h2 style="color:#FF9900">PyTrash</h2>
                <div style="color:#777">
                    Web trash bin manager
                </div>
                <h3 style="color:#BBB">Created by Aleksey Krylov.</h3>
            </div>
        </div>
    </div>
</div>
{% endblock content %}