{% extends "trashApp/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 ">
            <form action="" method="post"> {% csrf_token %}
                {%if error_message %}
                <div class="well">
                    <p style="color:#ff9900"> {{error_message}} </p>
                </div>
                <p></p>
                {% endif %}
                <div id="footer" align="left" class="brd">
                    <form action="" method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <div>
                            <button type="submit" class="btn btn-normal" style="width:25%;">Add New Trash</button>
                        </div>
                    </form>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}