{% extends "trashApp/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 " style=" text-align:left; display: initial;">
            <div style=" text-align:bottom; display:inline;">
                {%if error_message %}
                <div class="well">
                    <p style="color:#ff9900"> {{error_message}} </p>
                </div>
                <p></p>
                {% endif %}

                <form action="" method="post"> {% csrf_token %}
                    <table>
                        <tr class="new">
                            <td align="left" class="explorer">
                                <button name="delete" type="submit" class="btn btn-small"
                                        style="width: 100%;" value="{{path}}">Delete selected
                                </button>
                            </td>
                            <td align="right" class="explorer"><input name="regular" type="text" size="25">
                                <button name="regular_delete" type="submit" class="btn btn-small"
                                        style="width: 30%;" value="{{path}}">Delete
                                    selected via regex
                                </button>
                            </td>
                        </tr>
                    </table>
                    {% if path_to_user_home != path_to_explorer_directory %}
                    <button name="directory" type="submit" class="file" value="{{previous_directory}}">\..</button>
                    <input name="" type="checkbox" disabled>
                    {% endif %}
                    {% for directory in current_directories_packages %}
                    <button name="directory" type="submit" class="dir" value="{{directory.directory_path}}">
                        {{directory.directory_name}}
                    </button>
                    <input name="check {{directory.directory_path}}" type="checkbox">
                    {% endfor %}
                    {% for file in current_files_packages %}
                    <button name="file" type="submit" class="file" value="{{file.file_path}}">{{file.file_name}}
                    </button>
                    <input name="check {{file.file_path}}" type="checkbox">
                    {% endfor %}
                    <p style="height:50px;"></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}