{% extends "trashApp/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div style=" margin: auto; width: 100%;">
            <div class="col-lg-6 ">
                <h4 style="color:#777; text-align: center;">Home</h4>
                <div class="well">
                    Here you can find the list of trash bin and change their parameters.
                </div>

                <div class="well">
                    Press <span style="color:#e3a24b;">+</span> button to create new trash bin;<br>
                    Press <span style="color:#FF0000;">X</span> button to delete trash bin;<br>
                    To select trash bin press radio button then press <span
                        style="color:#e3a24b;">Confirm Selection</span>;<br>
                    To apply changes press <span style="color:#e3a24b;">A</span> button.

                </div>
            </div>
            <div class="col-lg-6 ">
                <h4 style="color:#777; text-align: center;">Tasks</h4>
                <div class="well">
                    Here you can find tasks that are currently being processed.
                </div>

                <div class="well">
                    Press <span style="color:#FF0000;">ABORT</span> button when:
                    <ul>
                        <li>you want to cancel all tasks;</li>
                        <li>trash bin activeness stuck;</li>
                        <li>tasks are not processed.</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}