{% extends "trashApp/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div style=" margin: auto; width: 80%;">
            <div class="col-lg-8 col-lg-offset-2 ">
                {%if error_message %}
                <div class="well">
                    <p style="color:#ff9900"> {{error_message}} </p>
                </div>
                <p></p>
                {% endif %}

                <form action="" method="post"> {% csrf_token %}
                    <div style=" margin: auto; width: 100%;">
                        <button name="erase" type="submit" class="btn btn-small2" style="width: 100%;" value="erase">
                            Erase history
                        </button>
                    </div>
                    {% if not show_details %}

                    <table>
                        <tr>
                            <th width="25%" style="text-align:center"> Trash Bin</th>
                            <th  style="text-align:center"> Operation</th>
                            <th width="15%" style="text-align:center"> Status</th>
                            <th width="25%" style="text-align:center"> Details</th>
                        </tr>
                        {% for task_entry in history_task_entries %}
                        <tr>
                            <td align="center">{{task_entry.trash_ending}}</td>
                            <td align="center">{{task_entry.operation}}</td>
                            <td align="center">{{task_entry.status}}</td>
                            <td>
                                <button name="task" type="submit" class="btn"
                                        style="padding:0; margin:0;width:100%;height:100%;"
                                        value="{{task_entry.task_name}}">{{task_entry.task_name}}
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}

                    {% if show_details %}
                    <table>
                        <tr>
                            <th  style="text-align:center"> Trash Bin</th>
                            <th style="text-align:center"> Operation</th>
                            <th style="text-align:center">
                                {% if detailed_task.operation_name == "Erase" or detailed_task.operation_name == "Recover" or detailed_task.operation_name == "Empty" %}
                                File
                                {% else %}
                                Path
                                {% endif %}
                            </th>
                            <th style="text-align:center"> Status</th>
                        </tr>
                        {% for operation in operations_of_history_task %}
                        <tr>
                            <td align="center">{{operation.trash_ending}}</td>
                            <td align="center">{{operation.operation}}</td>
                            <td align="center">{{operation.path}}</td>
                            <td align="center">{{operation.status}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                    <p style="height:50px;"></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}