{% extends "trashApp/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 ">
            <form action="" method="post"> {% csrf_token %}
                {%if error_message %}
                <div class="well">
                    <p style="color:#ff9900"> {{error_message}} </p>
                </div>
                <p></p>
                {% endif %}

                <table>
                    <tr>
                        <th width="10%" align="center">Recover</th>
                        <th align="center">Name</th>
                        <th width="10%" align="center">Erase</th>
                    </tr>
                    {% for inspected_entry in inspected_entries %}

                    {% if inspected_entry.erased %}
                    <tr style="outline-offset: -5px; outline: 5px solid; outline-color:#d72929;">
                    {% else %}
                        {% if inspected_entry.recovered %}
                        <tr style="outline-offset: -5px; outline: 5px solid; outline-color:#e3a24b;">
                        {% else %}
                        <tr >
                        {% endif %}
                    {% endif %}
                        <td width="10%" align="center">
                            <button name="recovery" type="submit" class="btn btn-small2" value="{{inspected_entry.file_name}}">R
                            </button>
                        </td>
                        <td>{{inspected_entry.file_name}}</td>
                        <td width="10%" align="center">
                            <button name="delete" type="submit" class="btn btn-small" value="{{inspected_entry.file_name}}">X</button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="col-lg-offset-8">
                    <button name="ClearAll" type="submit" class="btn btn-normal" style="width:67.5%; background:#d72929;" value="clear">
                        Empty
                    </button>
                </div>
                <p style="height:50px;"></p>
            </form>
        </div>
    </div>
</div>
{% endblock content %}