{% extends "trashApp/base.html" %}
    {% block content %}
        <div class="container">
            <div class="row">
                <div style=" margin: auto; width: 80%;">
                    <div class="col-lg-8 col-lg-offset-2 " >
                        {%if error_message %}
                        <div class="well">
                            <p style="color:#ff9900"> {{error_message}} </p>
                        </div>
                        <p></p>
                        {% endif %}

                        <form action="" method="post"> {% csrf_token %}
                            <div style=" margin: auto; width: 100%;">
                                <button name="abort" type="submit" class="btn btn-small"
                                        style="width: 100%; color: #FFF; outline-color:#111;" value="abort">ABORT
                                </button>
                            </div>

                            {% if not show_details %}
                            <table>
                                <tr>
                                    <th style="text-align:center">Trash Bin</th>
                                    <th width="25%" style="text-align:center"> Operation</th>
                                    <th width="25%" style="text-align:center"> Details</th>
                                </tr>
                                {% for task_entry in task_entries %}
                                <tr>
                                    <td align="center">{{task_entry.trash_ending}}</td>
                                    <td width="25%" align="center">{{task_entry.operation}}</td>
                                    <td>
                                        <button name="task" type="submit" class="btn"
                                                style="padding:0; margin:0;width:100%;height:100%;"
                                                value="{{task_entry.task_name}}">{{task_entry.task_name}}
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% endif %}

                            {% if show_details %}
                            <table>
                                <tr>
                                    <th style="text-align:center">Trash Bin</th>
                                    <th width="25%" style="text-align:center"> Operation</th>
                                    <th width="25%" style="text-align:center">
                                        {% if detailed_task.operation_name == "Erase" or detailed_task.operation_name == "Recover" or detailed_task.operation_name == "Empty" %}
                                        File
                                        {% else %}
                                        Path
                                        {% endif %}
                                    </th>
                                </tr>
                                {% for operation in operations_of_task %}
                                <tr>
                                    <td align="center">{{operation.trash_ending}}</td>
                                    <td width="25%" align="center">{{operation.operation}}</td>
                                    <td width="25%" align="center">{{operation.path}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% endif %}
                            <p style="height:50px;"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}