{% extends "trashApp/base.html" %}
    {% block content %}
        <div class="container">
            <div class="row">
                <div id="con">
                    <div id="content">
                        <form action="" method="post">{% csrf_token %}
                            {%if error_message %}
                                <div class="well" >
                                <p style="color:#ff9900"> {{error_message}} </p>
                                </div>
                            <p ></p>
                            {% endif %}

                            {%if list_is_empty %}
                            <div style="padding:0px 200px 0px 200px;">

                                 <div class="well"   >
                                     The list is empty.<br>
                                     Press <span style="color:#e3a24b;">+</span> button to create new trash bin.<br>
                                     <input align="right" type="button" class="btn" onclick="location.href='new'" value="+" style="width: 15%; font-weight: bold; font-size: 24px; margin: 10px 0px 0px 5px; padding: 0px 0px 0px 0px;" >
                                </div>
                            </div>
                            <p ></p>
                            {% else %}

                            <table>
                                <tr>
                                    <th width="5%" align="center">Select</th>
                                    <th width="20%" align="center">Trash bin location</th>
                                    <th align="center">Erase by time</th>
                                    <th align="center">Force overwrite</th>
                                    <th align="center">Dry run</th>
                                    <th align="center">Capacity</th>
                                    <th align="center">Size [bytes]</th>
                                    <th align="center">Auto-erase [ms]</th>
                                    <th width="5%" align="center">Active</th>
                                    <th width="5%" align="center">Apply</th>
                                    <th width="5%" align="center">Delete</th>
                                </tr>

                                {% for trash_bin in list_of_trash_bins %}
                                <tr>
                                      <td align="center">
                                          {% if trash_bin.selected %}
                                          <button name="select" type="submit" class="btn btn-small2" value="{{trash_bin.path_to_trash}}">S</button>
                                          {% endif %}
                                          {% if not trash_bin.selected %}
                                          <button name="select" type="submit" class="btn btn-small2-not" value="{{trash_bin.path_to_trash}}"></button>
                                          {% endif %}</td>
                                      <td align="center">
                                          {% if trash_bin.selected %}
                                           <button type="button" class="btn"
                                                   onclick="location.href='inspect'"
                                                   style="padding:0; margin:0;width:100%;height:100%;"
                                                   value="{{ trash_bin.path_to_trash }}">{{ trash_bin.path_to_trash }}
                                           </button>
                                          {% endif %}
                                          {% if not trash_bin.selected %}
                                           <button type="button" class="btn"
                                                   style=" background: #653; padding:0; margin:0;width:100%;height:100%; font-weight: normal;"
                                                   value="{{ trash_bin.path_to_trash }}">{{ trash_bin.path_to_trash }}
                                           </button>
                                          {% endif %}</td>
                                      <td align="center">
                                          {% if trash_bin.erase_by_time %}<input name="erase_by_time {{trash_bin.path_to_trash}}" type="checkbox" checked > {% endif %}
                                          {% if not trash_bin.erase_by_time %}<input name="erase_by_time {{trash_bin.path_to_trash}}" type="checkbox" > {% endif %}</td>
                                      <td align="center">
                                          {% if trash_bin.force_overwrite %}<input name="force_overwrite {{trash_bin.path_to_trash}}" type="checkbox" checked > {% endif %}
                                          {% if not trash_bin.force_overwrite  %}<input name="force_overwrite {{trash_bin.path_to_trash}}" type="checkbox" > {% endif %}</td>
                                      <td align="center">
                                          {% if trash_bin.dry_run %}<input name="dry_run {{trash_bin.path_to_trash}}" type="checkbox" checked > {% endif %}
                                          {% if not trash_bin.dry_run  %}<input name="dry_run {{trash_bin.path_to_trash}}" type="checkbox" > {% endif %}</td>
                                      <td align="center"><input name="max_trashcan_capacity {{trash_bin.path_to_trash}}" type="text" size="10" style="color: #111;" value={{trash_bin.max_trashcan_capacity}}></td>
                                      <td align="center"><input name="max_trashcan_size {{trash_bin.path_to_trash}}" type="text" size="12" style="color: #111;" value={{trash_bin.max_trashcan_size}}></td>
                                      <td align="center"><input name="time_until_auto_erase {{trash_bin.path_to_trash}}" type="text" size="12" style="color: #111;" value={{trash_bin.time_until_auto_erase}}></td>

                                      <td align="center">
                                          {% if trash_bin.active %}<input name="active " type="checkbox" checked disabled> {% endif %}
                                          {% if not trash_bin.active  %}<input name="active " type="checkbox" disabled> {% endif %}</td>
                                      <td align="center"><button name="edit_trash" type="submit" class="btn btn-small2" value="{{trash_bin.path_to_trash}}">A</button></td>
                                      <td align="center"><button name="del_trash" type="submit" class="btn btn-small" value="{{trash_bin.path_to_trash}}">X</button></td>
                                </tr>
                                {% endfor %}
                            </table>

                            <table>
                                <tr  >
                                    <td style="background: #181818;  height: 0px; padding: 0px;"   align="left" class="explorer">
                                        <!--<button type="submit" class="btn btn-normal">Confirm Selection</button>-->
                                        <input type="button" class="btn" onclick="location.href='explorer'" value="Explore">
                                        <input type="button" class="btn" onclick="location.href='inspect'" value="Inspect">
                                    </td>
                                    <td style="background: #181818;  height: 0px; padding: 0px 0px 0px 0px;" align="right" class="explorer">
                                        <button  type="button" class="btn" onclick="location.href='new'" value="+"
                                                 style="width: 62px; font-weight: bold; font-size: 24px; padding: 0px 0px 0px 0px;">+
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            <p style="height:50px;"></p>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}trash